body {
    background-color: #008080;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: black;
}

.window {
    width: 300px;
}

.logos {
    text-align: center;
}

a {
  text-decoration: none;
  color: #000;
  text-shadow: none;
}